/* ===== Overlay ===== */
.lb-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 10000;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

/* ===== Main Box ===== */
.lb-content {
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
}

/* Animate only inner */
.lb-inner {
  background: #fff;
  padding: 4px;
  width: 605px;
  border-radius: 2px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  animation: lbZoom 0.25s ease;
}

/* ===== Image ===== */
.lb-content img {
  width: 100%;
  height: auto;
  max-height: 407px;
  object-fit: contain;
  display: block;
}

/* ===== Close Button (Top Right like Lightbox2) ===== */
.lb-close {
  position: absolute;
  top: -22px;
  right: -22px;
  width: 44px;
  height: 44px;
  background: #fff;
  border-radius: 50%;
  border: none;
  font-size: 26px;
  font-weight: 300;
  cursor: pointer;
  color: #000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

/* ===== Navigation Arrows ===== */
.lb-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 120px;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 60px;
  font-weight: 300;
  cursor: pointer;
  opacity: 0.9;
}

.lb-prev {
  left: -70px;
}

.lb-next {
  right: -70px;
}

.lb-nav:hover {
  opacity: 1;
}

/* ===== Counter (Bottom Left) ===== */
.lb-counter {
  position: absolute;
  bottom: -28px;
  left: 0;
  font-size: 13px;
  color: #ccc;
}

/* ===== Animation ===== */
@keyframes lbZoom {
  from {
    opacity: 0;
    transform: scale(0.92);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


/* ===== Mobile Fix ===== */
@media (max-width: 768px) {
  .lb-prev {
    left: 0;
  }

  .lb-next {
    right: 0;
  }

  .lb-close {
    top: -14px;
    right: -14px;
    width: 38px;
    height: 38px;
    font-size: 22px;
  }
}